@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/body";
@import "./partials/deck";
@import "./partials/card";
#summon {
    display: block;
    margin-top: 100px;
}

.mainNav {
    //visibility: hidden;
    background-color: white;
    padding: 20px 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        border-bottom: 2px solid limegreen;
        &Pt1,
        &Pt2 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
        }
        &Pt1 {
            font-weight: 900;
            color: limegreen;
        }
        &Pt2 {
            font-weight: 200;
        }
    }
    &__content {
        display: none;
        //visibility: hidden;
    }
}

@media (min-width: $xs) {
    .mainNav {
        padding-left: calc(5% + 20px);
        padding-right: calc(5% + 20px);
        width: 84%;
        flex-direction: row;
        justify-content: space-between;
        &__content {
            display: flex;
        }
    }
}