@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
body {
  background-color: #bdc3c7;
  font-family: "Nunito", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainNav {
  background-color: white;
  padding: 20px 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.mainNav__logo {
  border-bottom: 2px solid limegreen;
}

.mainNav__logoPt1, .mainNav__logoPt2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.mainNav__logoPt1 {
  font-weight: 900;
  color: limegreen;
}

.mainNav__logoPt2 {
  font-weight: 200;
}

.mainNav__content {
  display: none;
}

@media (min-width: 576px) {
  .mainNav {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainNav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 100px auto 0;
}

@media (min-width: 769px) {
  .deck {
    width: 60%;
    max-width: 600px;
    padding: 0 20px;
    margin-left: 0;
  }
}

.card {
  background-color: white;
  border-radius: 5px;
  min-width: 300px;
  margin: 10px 0;
  -webkit-box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

.card__img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__title, .card__type, .card__price {
  padding: 0;
  margin: 0;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  padding-bottom: 10px;
}

.card__type {
  font-weight: 400;
  color: black;
  opacity: 0.6;
}

.card__typeCasa::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeApt::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeLoft::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeChacara::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeEstudio::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeQuarto::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__typeSitio::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
}

.card__adr {
  opacity: .6;
  font-size: .8em;
  font-weight: 200;
}

.card__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 8px 20px;
  border: 1px solid lime;
  border-radius: 10px;
  color: lime;
}

.card__price:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background-color: lime;
  color: white;
}

@media (min-width: 576px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 200px;
  }
  .card__img {
    border-radius: 5px 0 0 5px;
    max-width: 45%;
  }
  .card__title {
    font-size: 0.8em;
    font-weight: 400;
  }
  .card__title::first-line {
    font-size: 1.3em;
    font-weight: 900;
    line-height: 2em;
  }
  .card__content {
    width: -webkit-fill-available;
  }
  .card__price {
    position: relative;
    margin-top: auto;
  }
}
/*# sourceMappingURL=sass.css.map */