.deck {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

@media (min-width:$sm) {
    .deck {
        width: 660px;
        padding: 0 20px;
        margin-left: 5%;
    }
}