.deck {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 100px auto 0;
}

@media (min-width:$sm) {
    .deck {
        width: 60%;
        max-width: 600px;
        padding: 0 20px;
        margin-left: 0;
    }
}