.mainNav {
    //visibility: hidden;
    background-color: white;
    padding: 20px 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    &__logo {
        border-bottom: 2px solid limegreen;
        &Pt1,
        &Pt2 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
        }
        &Pt1 {
            font-weight: 900;
            color: limegreen;
        }
        &Pt2 {
            font-weight: 200;
        }
    }
    &__content {
        display: none;
        //visibility: hidden;
    }
}

@media (min-width: $xs) {
    .mainNav {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
        flex-direction: row;
        justify-content: space-between;
        &__content {
            display: flex;
        }
    }
}