@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
$font: 'Nunito',
sans-serif;
$icon-house:"\f015";
$icon-apt:"\f1ad";
$icon-room:"\f52a";
$icon-loft:"\f49e";
$icon-studio:"\f49e";
$icon-sitio:"\f6bb";
$icon-chac:"\f56b";
$xs: 576px;
$sm: 769px;